.message {
	max-width: 420px;
	padding: 16px;
	border-radius: 8px;
	width: fit-content;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: 8px;
	border: 1px solid #d0d6cd;
}

.wrapper {
	width: 100%;
	display: flex;
}

.right {
	justify-content: flex-end;
}

.left {
	justify-content: flex-start;
	text-align: left;
}

.timestamp,
.author {
	font-size: 12px;
	color: gray;
}

.user {
	background: #fef4c0;
	> .timestamp {
		text-align: right;
	}
}

.other {
	background: #feffff;
}

/* Responsive */

@media (max-width: 480px) {
	.message {
		max-width: 240px;
	}
}
