.root {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	padding: 24px;
	overflow-y: auto;
}

.messages {
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: 16px;
	align-items: center;
	max-width: 640px;
}
