.root {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	overflow-y: auto;
}

.messages {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 16px;
	align-items: center;
	max-width: 640px;
	padding: 16px 24px;
}
